{% extends "quiz/base/layout.html" %}
{% block body %}
    <h1 class="text-3xl font-bold mb-6">Register</h1>
    {% if message %}<div class="my-5 text-rose-100 bg-rose-900 p-4 rounded-lg">{{ message }}</div>{% endif %}
    <div class="bg-slate-800 py-6 px-8 rounded-lg">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="mb-6">
                <label for="username" class="block mb-3 text-sm font-medium">Your User Name</label>
                <input autofocus
                       id="username"
                       autocomplete="off"
                       class="focus:outline focus:outline-2 focus:outline-blue-500 focus:caret-blue-500 placeholder-gray-400 px-3 py-1 bg-gray-600 rounded-lg"
                       type="text"
                       name="username"
                       placeholder="Username"/>
            </div>
            <div class="mb-6">
                <label for="username" class="block mb-3 text-sm font-medium">Your Email</label>
                <input autofocus
                       id="username"
                       autocomplete="off"
                       class="focus:outline focus:outline-2 focus:outline-blue-500 focus:caret-blue-500 placeholder-gray-400 px-3 py-1 bg-gray-600 rounded-lg"
                       type="email"
                       name="email"
                       placeholder="Email Address"/>
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-3 text-sm font-medium">Password</label>
                <input autofocus
                       id="password"
                       autocomplete="off"
                       class="focus:outline focus:outline-2 focus:outline-blue-500 focus:caret-blue-500 placeholder-gray-400 px-3 py-1 bg-gray-600 rounded-lg"
                       type="password"
                       name="password"
                       placeholder="Password"/>
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-3 text-sm font-medium">Confirm Password</label>
                <input autofocus
                       id="password"
                       autocomplete="off"
                       class="focus:outline focus:outline-2 focus:outline-blue-500 focus:caret-blue-500 placeholder-gray-400 px-3 py-1 bg-gray-600 rounded-lg"
                       type="password"
                       name="confirmation"
                       placeholder="Password"/>
            </div>
            <button class="text-white bg-cyan-600 hover:bg-cyan-700 font-medium rounded-lg px-5 py-1.5 my-3 focus:outline focus:outline-2 focus:outline-blue-500"
                    type="submit">
                Register
            </button>
        </form>
        <div class="mb-3 mt-5">
            Already have an account? <a class="hover:underline hover:text-sky-400" href="{% url 'login' %}">Log In here.</a>
        </div>
    </div>
{% endblock body %}
