{% extends "base/layout.html" %}
{% load static %}
{% block body %}
    <div class="max-w-2xl mx-auto">
        <h1 class="mb-6 text-3xl font-bold">Create a new quiz</h1>
        {% include "components/message.html" with messages=messages %}
        <div class="px-8 pt-3 pb-6 mb-3 rounded-lg bg-slate-700">
            <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-6">
                        <label for="{{ field.auto_id }}" class="block mb-3 text-sm font-medium">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="text-white bg-cyan-600 hover:bg-cyan-700 font-medium rounded-lg px-5 py-1.5 my-3 focus:outline focus:outline-2 focus:outline-blue-500"
                        type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock body %}
