{% extends "base/layout.html" %}
{% load static %}
{% block body %}
    <div class="max-w-2xl mx-auto">
        {% for quiz in page_obj %}
            <div class="px-8 pt-3 pb-6 mb-3 rounded-lg bg-slate-700">
                <div class="mb-4">
                    {% include "components/quiz_state.html" with state=quiz.quiz_state %}
                    {% include "components/star.html" with quiz=quiz %}
                </div>
                <div class="mb-2 text-2xl font-bold text-sky-300">
                    <a href="{% url 'detail' quiz_id=quiz.id %}" class="hover:text-sky-500">{{ quiz.title }}</a>
                </div>
                <div class="text-xs text-right">
                    <span class="mr-2 text-slate-400 hover:text-sky-200">
                        <a href="{% url 'profile' user_id=quiz.user.id %}">{{ quiz.user }}</a>
                    </span>
                    <span>{{ quiz.created_at }}</span>
                </div>
            </div>
        {% empty %}
        {% endfor %}
        <nav aria-label="Page navigation" class="grid mt-5 justify-items-stretch">
            <ul class="inline-flex -space-x-px justify-self-center">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}"
                           class="px-3 py-2 ml-0 leading-tight text-gray-400 bg-gray-800 border border-gray-700 rounded-l-lg hover:bg-gray-700 hover:text-white">Previous</a>
                    </li>
                {% else %}
                    <li>
                        <span class="px-3 py-2 ml-0 leading-tight text-gray-400 bg-gray-800 border border-gray-700 rounded-l-lg">Previous</span>
                    </li>
                {% endif %}
                <li>
                    <a href="#"
                       aria-current="page"
                       class="px-3 py-2 text-white bg-gray-700 border border-gray-700">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
                </li>
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}"
                           class="px-3 py-2 leading-tight text-gray-400 bg-gray-800 border border-gray-700 rounded-r-lg hover:bg-gray-700 hover:text-white">Next</a>
                    </li>
                {% else %}
                    <li>
                        <span class="px-3 py-2 ml-0 leading-tight text-gray-400 bg-gray-800 border border-gray-700 rounded-r-lg">Next</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'util.js' %}"></script>
    <script type="text/babel" src="{% static 'icon.jsx' %}"></script>
{% endblock scripts %}
