{% extends "base/layout.html" %}
{% load static %}
{% load heroicons %}
{% block body %}
    <div class="max-w-2xl mx-auto">
        <h1 class="mb-6 text-3xl font-bold">{{ host_user.username }}</h1>
        <div class="px-8 pt-3 pb-6 mb-3 rounded-lg bg-slate-700">
            <h2 class="mb-3 text-2xl text-sky-300">Summary Stats</h2>
            <div class="mb-3">
                {% heroicon_solid "star" class="inline w-5 h-5 mr-1 text-amber-200" %}
                <span class="text-lg">
                    <span class="mr-3 text-slate-300">Reputation</span>
                    {{ host_user.gained_star }}
                </span>
            </div>
            <div class="mb-3">
                {% heroicon_solid "document-check" class="inline w-5 h-5 mr-1 text-emerald-400" %}
                <span class="text-lg">
                    <span class="mr-3 text-slate-300">Solved</span>
                    {{ host_user.solved_quizzes }}
                </span>
            </div>
            <div class="mb-3">
                {% heroicon_solid "document" class="inline w-5 h-5 mr-1 text-sky-300" %}
                <span class="text-lg">
                    <span class="mr-3 text-slate-300">Posted Quizzes</span>
                    {{ host_user.posted_quizzes.count }}
                </span>
            </div>
        </div>
        <div class="px-8 pt-3 pb-6 mb-3 rounded-lg bg-slate-700">
            <h2 class="mb-3 text-2xl text-sky-300">Posted Quizzes</h2>
            <ul>
                {% for quiz in host_user.posted_quizzes.all %}
                    <li class="text-lg">
                        <a href="{% url 'detail' quiz_id=quiz.id %}" class="hover:text-sky-200">{{ quiz.title }}</a>
                    </li>
                {% empty %}
                    {{ host_user.username }} has not posted any quiz.
                {% endfor %}
            </ul>
        </div>
        <div class="px-8 pt-3 pb-6 mb-3 rounded-lg bg-slate-700">
            <h2 class="mb-3 text-2xl text-sky-300">Submissions</h2>
            {% for submission in submissions %}
                <div class="text-lg">
                    {% if submission.is_accepted %}
                        <span class="text-emerald-300">{{ submission.quiz.title }}</span>
                    {% else %}
                        <span class="text-rose-300">{{ submission.quiz.title }}</span>
                    {% endif %}
                    <span class="text-slate-300">{{ submission.created_at }}</span>
                </div>
            {% empty %}
                {{ host_user.username }} has not submitted any answer.
            {% endfor %}
        </div>
    </div>
{% endblock body %}
