{% load heroicons %}
{% if state == 'todo' %}
    <div class="text-slate-400 inline mr-2">
        <span class="inline mr-1">-</span>
        {{ state }}
    </div>
{% elif state == 'attempted' %}
    <div class="text-amber-300 inline mr-2">
        {% heroicon_outline "exclamation-circle" class="inline mr-1 w-4 h-4" %}
        {{ state }}
    </div>
{% elif state == 'solved' %}
    <div class="text-emerald-300 inline mr-2">
        {% heroicon_outline "check-circle" class="inline mr-1 w-4 h-4" %}
        {{ state }}
    </div>
{% endif %}
