{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="cs50web, capstone"/>
        <meta name="description" content="cs50web Final Project"/>
        <meta name="viewport" content="width=device-width"/>
        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% block title %}
                Quiz
            {% endblock title %}
        </title>
    </head>
    <body class="bg-slate-900 text-white">
        <nav class="bg-slate-800">
            <div class="flex flex-row top-0 left-0 p-4">
                <div class="basis-3/6">
                    <a class="text-xl font-semibold" href="{% url 'index' %}">Capstone</a>
                </div>
                <div class="basis-3/6 text-right text-l">
                    {% if user.is_authenticated %}
                        <a class="hover:underline hover:text-sky-400 mx-3"
                           href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a class="hover:underline hover:text-sky-400 mx-3"
                           href="{% url 'login' %}">Log In</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <span class="mx-3">{{ user.username }}</span>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="max-w-5xl mx-auto px-3 py-5">
            {% block body %}
            {% endblock body %}
        </div>
    </body>
</html>
