{% extends "base/layout.html" %}
{% load static %}
{% block body %}
    <div id="root" class="max-w-2xl mx-auto"></div>
{% endblock body %}
{% block scripts %}
    <script src="{% static 'util.js' %}"></script>
    <script type="text/babel" src="{% static 'icon.jsx' %}"></script>
    <script type="text/babel" src="{% static 'quizList.jsx' %}"></script>
    <script type="text/babel" src="{% static 'quizDetail.jsx' %}"></script>
    <script type="text/babel">
        // give information
        const quizId = '{{ quiz.id }}';

        const container = document.getElementById('root');
        const root = ReactDOM.createRoot(container);
        root.render(<QuizDetail id={quizId} />);
    </script>
{% endblock scripts %}
