{% extends "base/authenticate.html" %}
{% block head %}
    Register
{% endblock head %}
{% block form %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-6">
                <label for="{{ field.auto_id }}" class="block mb-3 text-sm font-medium">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button class="text-white bg-cyan-600 hover:bg-cyan-700 font-medium rounded-lg px-5 py-1.5 my-3 focus:outline focus:outline-2 focus:outline-blue-500"
                type="submit">
            Register
        </button>
    </form>
    <div class="mb-3 mt-5">
        Already have an account? <a class="hover:underline hover:text-sky-400" href="{% url 'login' %}">Log In here.</a>
    </div>
{% endblock form %}
