{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="cs50web, capstone"/>
        <meta name="description" content="cs50web Final Project"/>
        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% block title %}
                Quiz
            {% endblock title %}
        </title>
    </head>
    <body class="bg-slate-900">
        <nav class="bg-gray-900">
            <div class="flex flex-wrap top-0 left-0 border-b border-sky-200 p-2">
                <span class="self-center text-xl font-semibold text-sky-100">Capstone</span>
            </div>
        </nav>
        <div class="p-2">
            {% block body %}
            {% endblock body %}
        </div>
    </body>
</html>
