{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="cs50web, capstone"/>
        <meta name="description" content="cs50web Final Project"/>
        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% block title %}
                Quiz
            {% endblock title %}
        </title>
    </head>
    <body class="bg-slate-900">
        <div>
            {% block body %}
            {% endblock body %}
        </div>
    </body>
</html>
